<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

  <!-- Vendor/Plugins CSS -->
  <link rel="stylesheet" href="css/vendor/fontawesome-all.min.css">
  <link rel="stylesheet" href="css/vendor/prism.css">

  <!-- Fluxo Template CSS -->
  <link rel="stylesheet" href="css/main.css">

  <!-- Fluxo Docs CSS -->
  <link rel="stylesheet" href="css/docs.css">

  <title>Documentation | Fluxo - Social Media Marketing Template by We Both</title>

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <header class="navbar navbar-expand-lg fixed-top gradient-brand-color px-4 py-3">
    <a class="navbar-brand" href="#"><img src="images/logo-footer.svg" alt="Fluxo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav ml-auto color-white">
        <li class="nav-item active">
          <a class="nav-link" href="changelog.html">v1.0.1</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="changelog.html#100">What's new</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#119;&#101;&#098;&#111;&#116;&#104;&#046;&#117;&#115;?subject=Inquiry about Fluxo">Support</a>
        </li>
        <li class="nav-item nav-item--btn">
          <a href="https://weboth.us/preview/fluxo-v1.0.0/html/index.html" class="btn btn-secondary btn-sm btn--has-shadow mt-3 mt-lg-0">Live Preview</a>
        </li>
      </ul>
    </div> <!-- END Navbar -->

  </header> <!-- END Header -->

  <nav class="sidenav navbar-vertical navbar-expand-xs d-block">
    <div class="scroll-wrapper h-100">
      <div class="scroll-content">
        <div class="collapse navbar-collapse">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav--has-sub-menu sub-menu--on-right" data-toggle="collapse" href="#gettingStarted" role="button" aria-expanded="true" aria-controls="gettingStarted">Getting Started</a>

              <div class="collapse show" id="gettingStarted">
                <ul class="sidenav-sub-menu">
                  <li class="nav-item">
                    <a href="index.html" class="nav-link active">Introduction</a>
                  </li>
                  <li class="nav-item">
                    <a href="file-structure.html" class="nav-link">File Structure</a>
                  </li>
                  <li class="nav-item">
                    <a href="customization.html" class="nav-link">Customization</a>
                  </li>
                  <li class="nav-item">
                    <a href="changelog.html" class="nav-link">Changelog</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link nav--has-sub-menu sub-menu--on-right" data-toggle="collapse" href="#components" role="button" aria-expanded="false" aria-controls="plugins">Components</a>

              <div class="collapse" id="components">
                <ul class="sidenav-sub-menu">
                  <li class="nav-item">
                    <a href="typography.html" class="nav-link">Typography</a>
                  </li>
                  <li class="nav-item">
                    <a href="alerts.html" class="nav-link">Alerts</a>
                  </li>
                  <li class="nav-item">
                    <a href="badges.html" class="nav-link">Badges</a>
                  </li>
                  <li class="nav-item">
                    <a href="buttons.html" class="nav-link">Buttons</a>
                  </li>
                  <li class="nav-item">
                    <a href="cards.html" class="nav-link">Cards</a>
                  </li>
                  <li class="nav-item">
                    <a href="forms.html" class="nav-link">Forms</a>
                  </li>
                  <li class="nav-item">
                    <a href="icons.html" class="nav-link">Icons</a>
                  </li>
                  <li class="nav-item">
                    <a href="pagination.html" class="nav-link">Pagination</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link nav--has-sub-menu sub-menu--on-right" data-toggle="collapse" href="#plugins" role="button" aria-expanded="false" aria-controls="plugins">Plugins</a>

              <div class="collapse" id="plugins">
                <ul class="sidenav-sub-menu">
                  <li class="nav-item">
                    <a href="ajaxchimp.html" class="nav-link">Ajaxchimp</a>
                  </li>
                  <li class="nav-item">
                    <a href="magnific-popup.html" class="nav-link">Magnific Popup</a>
                  </li>
                  <li class="nav-item">
                    <a href="multiselect.html" class="nav-link">Multiselect</a>
                  </li>
                  <li class="nav-item">
                    <a href="swiper.html" class="nav-link">Swiper</a>
                  </li>
                  <li class="nav-item">
                    <a href="jquery-validate.html" class="nav-link">jQuery Validate</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link nav--has-sub-menu sub-menu--on-right" data-toggle="collapse" href="#utilities" role="button" aria-expanded="false" aria-controls="plugins">Utilities</a>

              <div class="collapse" id="utilities">
                <ul class="sidenav-sub-menu">
                  <li class="nav-item">
                    <a href="background.html" class="nav-link">Background</a>
                  </li>
                  <li class="nav-item">
                    <a href="color.html" class="nav-link">Color</a>
                  </li>
                  <li class="nav-item">
                    <a href="shadow.html" class="nav-link">Shadow</a>
                  </li>
                  <li class="nav-item">
                    <a href="spacing.html" class="nav-link">Spacing</a>
                  </li>
                  <li class="nav-item">
                    <a href="transform.html" class="nav-link">Transform</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>

  <main class="main">
    <div class="container-fluid">
      <div class="row justify-content-center">

        <div class="doc-aside d-none d-xl-inline-block order-xl-2 col-xl-3">
          <nav id="docAsideNav" class="doc-aside__nav navbar border-left">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link active" href="#introduction">Introduction</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#css">CSS</a>
                <a class="nav-link ml-3" href="#js">JS</a>
              </nav>
              <a class="nav-link" href="#starter-template">Starter template</a>
              <a class="nav-link" href="#important-globals">Important globals</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#html5-doctype">HTML5 doctype</a>
                <a class="nav-link ml-3" href="#responsive-meta-tag">Responsive meta tag</a>
              </nav>
            </nav>
          </nav>
        </div> <!-- END Doc Aside -->

        <div class="doc-content order-xl-1 col-lg-9 col-xl-8 offset-xl-1">

          <div id="introduction" class="doc-section mb-5">
            <h2 class="doc-section__title">Introduction <a href="#introduction" class="anchor-link"><small>#</small></a></h2>

            <p class="lead">Get started with Fluxo, a responsive website template powered with the latest Bootstrap 4 framework. Currently Fluxo has the social media marketing niche but its design principles allows you to create thousand of sites
              theme with ease.</p>

            <hr class="my-5">
          </div> <!-- .doc-section -->

          <div id="css" class="doc-section mb-5">
            <h3 class="doc-section__title">CSS <a href="#css" class="anchor-link"><small>#</small></a></h3>

            <p>Copy-paste the stylesheet <code class="highlighter-rouge">&lt;link&gt;</code> into your <code class="highlighter-rouge">&lt;head&gt;</code> before all other stylesheets to load our CSS.</p>

            <pre><code class="language-html">&lt;link rel="stylesheet" href="css/main.css"&gt;</code></pre>

            <div class="code-demo__wrapper">
              <ul class="code-demo__tabs nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="btn btn-sm active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="far fa-eye mr-1"></i> Result</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-sm" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-code mr-1"></i> Code</a>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <div class="code-demo-result tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <button type="button" class="btn btn-primary mb-2">Primary</button>
                  <button type="button" class="btn btn-secondary mb-2">Secondary</button>
                  <button type="button" class="btn btn-success mb-2">Success</button>
                  <button type="button" class="btn btn-danger mb-2">Danger</button>
                  <button type="button" class="btn btn-warning mb-2">Warning</button>
                  <button type="button" class="btn btn-info mb-2">Info</button>
                  <button type="button" class="btn btn-dark mb-2">Dark</button>
                  <button type="button" class="btn btn-link">Link</button>
                </div>
                <div class="code-demo-code tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <pre><code class="language-html">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary mb-2&quot;&gt;Primary&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary mb-2&quot;&gt;Secondary&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success mb-2&quot;&gt;Success&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger mb-2&quot;&gt;Danger&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning mb-2&quot;&gt;Warning&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info mb-2&quot;&gt;Info&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-dark mb-2&quot;&gt;Dark&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;
  </code></pre>
                </div>
              </div>
            </div> <!-- .code-demo__wrapper -->
          </div> <!-- .doc-section -->

          <div id="js" class="doc-section mb-5">
            <h3 class="doc-section__title">JS <a href="#js" class="anchor-link"><small>#</small></a></h3>

            <p>As FLuxo is developed with Bootstrap framework, many of the components require the use of JavaScript to function. Specifically, they require <a href="https://jquery.com/">jQuery</a>, <a href="https://popper.js.org/">Popper.js</a>, and
              Bootstrap's JavaScript plugins. All JavaScript files are located inside the <strong>js</strong> folder, there are 3 folders and 1 FLuxo main js file inside it:</p>
            <ol>
              <li><i>init</i> folder: inside it there are js files for initializing javascript plugins used by FLuxo.</li>
              <li><i>min</i> folder: inside it there is minified version of main js file of Fluxo.</li>
              <li><i>vendor</i> folder: inside it there are js files of plugins used by Fluxo.</li>
            </ol>

            <p>Place the following <code>&lt;script&gt;</code>s near the end of your pages, right before the closing <code>&lt;/body&gt;</code> tag, to enable them. jQuery must come first, then Popper.js, Bootstraps JavaScript plugins, then followed
              by vendors and main js files.</p>

            <p>All Fluxo plugins start with <code>wb.</code> prefix.</p>

            <pre><code class="language-html">&lt;!-- Global Required JS --&gt;
&lt;script src=&quot;js/vendor/jquery-3.3.1.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/popper.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/bootstrap.min.js&quot;&gt;&lt;/script&gt;

&lt;!-- Vendor/Plugins JS --&gt;

&lt;!-- Vendor/Plugins JS Init --&gt;

&lt;!-- Fluxo Template JS --&gt;
&lt;script src=&quot;js/min/main-min.js&quot;&gt;&lt;/script&gt;
</code></pre>
          </div> <!-- .doc-section -->

          <div id="starter-template" class="doc-section mb-5">
            <h3 class="doc-section__title">Starter Template <a href="#starter-template" class="anchor-link"><small>#</small></a></h3>

            <p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look
              like this:</p>

            <pre style="max-height:none;"><code class="language-html">&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;!-- Required meta tags --&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;

  &lt;!-- Bootstrap CSS --&gt;
  &lt;link rel="stylesheet" href="css/vendor/bootstrap.min.css"&gt;

  &lt;!-- Vendor/Plugins CSS --&gt;
  &lt;link rel="stylesheet" href="css/vendor/fontawesome-all.min.css"&gt;

  &lt;!-- Fluxo Template CSS --&gt;
  &lt;link rel="stylesheet" href="css/main.css"&gt;

  &lt;title&gt;Hello, world!&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Hello, world!&lt;/h1&gt;

  &lt;!-- Global Required JS --&gt;
  &lt;script src="js/vendor/jquery-3.3.1.min.js"&gt;&lt;/script&gt;
  &lt;script src="js/vendor/popper.min.js"&gt;&lt;/script&gt;
  &lt;script src="js/vendor/bootstrap.min.js"&gt;&lt;/script&gt;

  &lt;!-- Vendor/Plugins JS --&gt;

  &lt;!-- Vendor/Plugins JS Init --&gt;

  &lt;!-- Fluxo Template JS --&gt;
  &lt;script src="js/min/main-min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

          </div> <!-- .doc-section -->

          <div id="important-globals" class="doc-section mb-5">
            <h3 class="doc-section__title">Important Globals <a href="#important-globals" class="anchor-link"><small>#</small></a></h3>

            <p>Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the <em>normalization</em> of cross browser styles. Let’s dive in.</p>

          </div> <!-- .doc-section -->

          <div id="html5-doctype" class="doc-section mb-5">
            <h3 class="doc-section__title">HTML5 Doctype <a href="#html5-doctype" class="anchor-link"><small>#</small></a></h3>

            <p>Fluxo requires the use of the HTML5 doctype. Without it, you’ll see some funky incomplete styling, but including it shouldn’t cause any considerable hiccups.</p>

            <pre><code class="language-html">&lt;!doctype html&gt;
&lt;html lang="en"&gt;
  ...
&lt;/html&gt;</code></pre>
          </div> <!-- .doc-section -->

          <div id="responsive-meta-tag" class="doc-section mb-5">
            <h3 class="doc-section__title">Responsive Meta Tag <a href="#responsive-meta-tag" class="anchor-link"><small>#</small></a></h3>

            <p>Fluxo is developed <em>mobile first</em>, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all devices,
              <strong>add the responsive viewport meta tag</strong> to your <code class="highlighter-rouge">&lt;head&gt;</code>.</p>

            <pre><code class="language-html">&lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;</code></pre>
          </div> <!-- .doc-section -->

        </div> <!-- END Doc Content -->

      </div>
    </div>
  </main>

  <!-- Global Required JS -->
  <script src="js/vendor/jquery-3.3.1.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>

  <!-- Vendor/Plugins JS -->
  <script src="js/vendor/prism.js"></script>
  <script src="js/vendor/prism-scss-sassdoc.js"></script>
  <script src="js/vendor/clipboard.min.js"></script>

  <!-- Vendor/Plugins JS Init -->
  <script type="text/javascript" src="js/init/wb.clipboard-init.js"></script>

  <!-- Fluxo Template JS -->
  <script src="js/min/main-min.js"></script>
</body>

</html>